node_modules
.next
out
build
dist
.env
.env.local
.env*.local
*.db
*.db-journal
prisma/dev.db*
public/uploads/*
!public/uploads/.gitkeep
.DS_Store
*.log
coverage
tests/.tmp
.vercel
next-env.d.ts
tsconfig.tsbuildinfo
src/generated
